@model LSWebApp.Models.ComplianceListModel
@{
    ViewBag.Title = "Manage Compliances";
}
<h2>Manage compliances</h2>
<div>
    <form action="insertupdatecompliance" enctype="multipart/form-data" id="frmUpload" method="post">
        <table>
            <tr>
                <td>
                    Select Company:
                </td>
                <td>
                    @Html.HiddenFor(m=>m.CompanyName, Model.CompanyName)
                    @Html.DropDownListFor(m => m.ObjComplianceDocuments.CompanyId
                    , new SelectList(Model.CompanyList, "Id", "CompanyName", Model.CompanyId)
                    , new { @name = "CompanyId", @id = "CompanyId", @class = "ddCompany" })
                </td>
                <td>
                    Select Financial Year:
                </td>
                <td>
                    @Html.HiddenFor(m => m.FinancialYear, Model.FinancialYear)
                    @Html.DropDownListFor(m => m.ObjComplianceDocuments.FYAYId
                    , new SelectList(Model.FYAYList, "Id", "FinancialYear", Model.FYAYId)
                    , new { @name = "FYAYId", @id = "FYAYId", @class = "ddFYAY" })
                </td>
                <td>
                    @*<button type="button" class="loadCompliance">Load</button>*@
                </td>
            </tr>

            <tr class="trUpload">
                <td>
                    Select Compliance:
                </td>
                <td colspan="3">
                    @Html.DropDownListFor(m => m.ObjComplianceDocuments.ComplianceId
                    , new SelectList(Model.ComplianceList, "Id", "Description"), new
                    {
                        @name = "ComplianceId",
                        @id = "ComplianceId",
                    })
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ReportFile, new { type = "file" })
                </td>
                <td>
                    <button type="submit" class="fileUpload">Upload File</button>
                </td>
            </tr>
        </table>
        <br />
    </form>
    <div id="docList">

    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () { 

            loadComplianceDocuments();
            $("#CompanyName").val($("#CompanyId").find("option:selected").text());
            $("#FinancialYear").val($("#FYAYId").find("option:selected").text());

            $(".loadCompliance").click(function () {
                loadComplianceDocuments();
                return false;
            });

            $(".ddFYAY").change(function () {
                $("#FinancialYear").val($(this).find("option:selected").text());
                loadComplianceDocuments();
            });

            $(".ddCompany").change(function () {
                $("#CompanyName").val($(this).find("option:selected").text());
                loadComplianceDocuments();
            });

            $(".fileUpload").click(function (e) {
                $("#frmUpload").submit(function () {
                    var formdata = new FormData(this);
                    $.ajax({
                        url: '/insertupdatecompliance',
                        type: 'POST',
                        data: formdata,
                        error: function () {
                        },
                        success: function (data) {
                        }                        
                    });
                    e.preventDefault();
                });
            });
        });       

        function loadComplianceDocuments() {
            $.ajax({
                url: '/compliancedocuments?companyId=' + $("#CompanyId").val()
                + '&fyayId=' + $("#FYAYId").val(),
                error: function () {
                },
                dataType: 'html',
                success: function (data) {
                    $("#docList").html(data);
                    $(".trUpload").show();
                },
                type: 'GET'
            });
        }

        function deleteDocument(complianceDocumentId) {
            $.ajax({
                url: '/deletecompliance?Id=' + complianceDocumentId,
                error: function () {
                },
                dataType: 'json',
                success: function (data) {
                    loadComplianceDocuments();
                },
                type: 'POST'
            });
            return false;
        }
    </script>
}