@model  LSWebApp.Models.ITReturnDetailsModel
@{
    ViewBag.Title = "Computation Sheet";
    Layout = "~/Views/Shared/_LayoutDynemicMenu.cshtml";
}
<h3>Computation Sheet</h3>

@using (Html.BeginForm("SearchITReturnDetails", "TaxReturn"))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="bs-component">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Company Name</th>
                        <th>Financial Year</th>
                        <th>Assesment Year</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <td colspan="2">
                            @Html.LabelFor(m => m.ITReturnDetailsObject.CompanyName, Model.ITReturnDetailsObject.CompanyName)
                            @Html.HiddenFor(m => m.ITReturnDetailsObject.CompanyName)
                            @Html.HiddenFor(m => m.ITReturnDetailsObject.CompanyID, Model.ITReturnDetailsObject.CompanyID)
                        </td>
                        <td>
                            <select id="ITReturnDetailsObject_FYAYID" name="@Html.NameFor(m=>m.ITReturnDetailsObject.FYAYID)">
                                @foreach (var item in Model.FYAYList)
                                {
                                    <option value="@item.Id.ToString()" data-year="@item.AssessmentYear">@item.FinancialYear</option>
                                }
                            </select>
                        </td>
                        <td class="tdAssessmentYear"></td>
                        <td>
                            <button type="submit" 
                                    class="btn btn-primary btn-sm" id="btnsrch">
                                Search
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
    </div>

}
<div class="container">
    <div class="bs-component" id="sectionDiv">

    </div>
</div>
<br />
<div class="container">
    <div class="bs-component" id="taxcomputationDiv">

    </div>
</div>
@section scripts
{
<script type="text/javascript">
    $(document).on('change', '.collapsible', function (event) {
        var sender = event.target;
        var trClass = sender.getAttribute("title");
        $('.' + trClass).toggle();
    });

    $(document).ready(function () {
        $("#btnsrch").click(function () {
            loadexistingitsections();
            loadtaxcomputationsheet();
            return false;
        });

        $("#ITReturnDetailsObject_FYAYID").change(function () {
            loadAssessmentYear();
        });

        loadAssessmentYear();
       
    });

    function loadAssessmentYear() {
        $(".tdAssessmentYear").html($("#ITReturnDetailsObject_FYAYID").find(':selected').data('year'));
    }

    function loadexistingitsections() {
        var url = "@Url.Action("SearchITReturnDetails", "TaxReturn")" + '?companyId=' + $('#ITReturnDetailsObject_CompanyID').val() + '&fyayId=' + $('#ITReturnDetailsObject_FYAYID').val();

        $.ajax({
            url: url ,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            error: function (xhr,status,error) {
                alert("inside error " + xhr.responseText);
            },
            dataType: 'html',
            success: function (data) {
                $("#sectionDiv").html(data);

                $(".ddDocumentCategory").change(function () {
                    $(this).parents('.modal-content').find('.trDocument')
                        .each(function () {
                            $(this).show();
                        });
                    var subDocumentCatObject = $(this).closest('table').find('.ddSubDocumentCategory');
                    subDocumentCatObject.html('');
                    subDocumentCatObject.append('<option value="">Please Select</option>');
                    $.ajax({
                        url: '/getSubDocumentCategories?documentCategoryId='
                        + $(this).find("option:selected").val(),
                        error: function () {
                        },
                        dataType: 'json',
                        success: function (data) {
                            $(data).each(function () {
                                var option = $('<option />');
                                option.attr('value', this.Id).html(this.Description);
                                subDocumentCatObject.append(option);
                            });
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        },
                        type: 'GET'
                    });
                });

                $(".ddSubDocumentCategory").change(function () {
                    var ddSubDocumentCategoryObject = $(this);
                    $(this).parents('.modal-content').find('.trDocument').each(function () {
                        var hdSubCategoryId;
                        $(this).find('.hdSubCategoryId').each(function () {
                            hdSubCategoryId = $(this).val();
                        });
                        if (ddSubDocumentCategoryObject.val() === ""
                            || ddSubDocumentCategoryObject.val() === hdSubCategoryId) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    });
                });
            }
            });
    }

    function loadtaxcomputationsheet() {
        var url = "@Url.Action("TaxCalculationSheet", "TaxReturn")" + '?companyId=' + $('#ITReturnDetailsObject_CompanyID').val() + '&fyayId=' + $('#ITReturnDetailsObject_FYAYID').val();

        $.ajax({
            url: url ,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            error: function (xhr,status,error) {
                alert("inside error " + xhr.responseText);
            },
            dataType: 'html',
            success: function (data) {
                $("#taxcomputationDiv").html(data);
            }
            });
    }
</script>

}
