@model LSWebApp.Models.ITReturnDetailsListModel
@using LSWebApp.Models;
<style>
    table, th, td {
        border: 1px solid black;
    }    
</style>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Category</th>
            @foreach (var itsectiondetail in Model.ITReturnDetailsListObject)
            {
                <th>@itsectiondetail.ITSectionCategoryDesc</th>
                @Html.Hidden(@itsectiondetail.ITSectionCategoryDesc, @itsectiondetail.ITSectionCategoryID)
            }
        </tr>
        <tr>
            <th>Section</th>
            @foreach (var itsectiondetail in Model.ITReturnDetailsListObject)
            {
                <th align="center">
                    @Html.ActionLink(@itsectiondetail.ITSectionDescription
                        , "LoadITReturnDetails", "TaxReturn"
                        , new {
                            fyayId = Model.FYAYId,
                            itSectionId = @itsectiondetail.ITSectionID,
                            itSectionCategoryId = @itsectiondetail.ITSectionCategoryID
                        }, null)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <td>Filling Date</td>
            @foreach (var itsectiondetail in Model.ITReturnDetailsListObject)
            {
                <td>@itsectiondetail.ITReturnFillingDate.Value.ToString("dd-MMM-yyyy")</td>
            }
        </tr>
        <tr class="table-active">
            <td>Due Date</td>
            @foreach (var itsectiondetail in Model.ITReturnDetailsListObject)
            {
                <td>@itsectiondetail.ITReturnDueDate.Value.ToString("dd-MMM-yyyy")</td>
            }
        </tr>

        @foreach (var itemWithAmount in Model.ItemsWithAmounts_ROI)
        {
            @Html.Partial("ITReturnDetailsListItem"
            , new ITReturnDetailsListItemModel(Model.ITHeadMasterList[itemWithAmount]
            , Model.ITReturnDetailsListObject
            , Model.ITHeadMasterList
            , Model.BusinessLossDetailsList))
        }        
    </tbody>
</table>
