@model  LSWebApp.Models.ITReturnDetailsModel

<h3>Existing ITReturn Details</h3>

@using (Html.BeginForm("SearchITReturnDetails", "TaxReturn"))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="bs-component">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Company Name</th>
                        <th>Financial Year</th>
                        <th>Assesment Year</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <td colspan="2">
                            @*@Model.ITReturnDetailsObject.CompanyName*@
                            @Html.LabelFor(m => m.ITReturnDetailsObject.CompanyName, Model.ITReturnDetailsObject.CompanyName)
                            @Html.HiddenFor(m => m.ITReturnDetailsObject.CompanyName)
                            @Html.HiddenFor(m => m.ITReturnDetailsObject.CompanyID, Model.ITReturnDetailsObject.CompanyID)
                        </td>
                        <td>
                            <select id="ITReturnDetailsObject_FYAYID" name="@Html.NameFor(m=>m.ITReturnDetailsObject.FYAYID)">
                                @foreach (var item in Model.FYAYList)
                                {
                                    <option value="@item.Id.ToString()" data-year="@item.AssessmentYear">@item.FinancialYear</option>
                                }
                            </select>
                            @*@Html.DropDownListFor(m => m.ITReturnDetailsObject.FYAYID, new SelectList(Model.FYAYList, "ID", "FinancialYear"))*@
                        </td>
                        <td class="tdAssessmentYear"></td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm" id="btnsrch">Search</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
    </div>

}
<div class="container">
    <div class="bs-component" id="sectionDiv">

    </div>
</div>
@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnsrch").click(function () {
            loadexistingitsections();
            return false;
        });

        $("#ITReturnDetailsObject_FYAYID").change(function () {
            loadAssessmentYear();
        });
        loadAssessmentYear();
    });

    function loadAssessmentYear() {
        $(".tdAssessmentYear").html($("#ITReturnDetailsObject_FYAYID").find(':selected').data('year'));
    }
    function loadexistingitsections() {
       // alert($('#ITReturnDetailsObject_FYAYID').val());
        var url = "@Url.Action("SearchITReturnDetails", "TaxReturn")" + '?companyId=' + $('#ITReturnDetailsObject_CompanyID').val() + '&fyayId=' + $('#ITReturnDetailsObject_FYAYID').val();

        $.ajax({
            url: url ,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            error: function (xhr,status,error) {
                alert("inside error " + xhr.responseText);
            },
            dataType: 'html',
            success: function (data) {
                 $("#sectionDiv").html(data);
            }
            });
    }
</script>

}
