@model  LSWebApp.Models.CompanyList
@{
    ViewBag.Title = "GetCompanyList";
}
<style>
    table, th, td {
        border: 1px solid black;
        align-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<h3>List of Companies registered</h3>

@{
    if (Model.Companies != null)
    {
        @Html.HiddenFor(m => m.UserId, Model.UserId)
        <table class="table table-hover">
            <thead>
            <th>Company Name</th>
            <th>PAN Number</th>
            <th colspan="2"></th>
            </thead>

            @foreach (var company in Model.Companies)
            {
            <tr class="table-active">
                <td>
                    @Html.HiddenFor(m => company.Id, company.Id)
                    @company.CompanyName
                </td>
                <td>@company.PANNumber</td>
                <td>
                    @Html.ActionLink("Get Existing IT Return Details", "ExistingITReturnDetails", "TaxReturn", new { AddedBy = Model.UserId, CompanyID = company.Id, CompanyName = company.CompanyName }, null)
                </td>
                <td>
                    @Html.ActionLink("Create IT Return Details", "GetITReturnDetails", "TaxReturn", new { userId = Model.UserId, companyId = company.Id, companyname = company.CompanyName, FYAYID=0, itreturnid=0 }, null)
                </td>
            </tr>
            }
        </table>
    }
}


