@model  LSWebApp.Models.CompanyList
@{
    ViewBag.Title = "GetCompanyList";
    Layout = "~/Views/Shared/_LayoutDynemicMenu.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
        align-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<h3>List of Companies</h3>

@{
    if (Model.Companies != null)
    {
        @Html.HiddenFor(m => m.UserId, Model.UserId)
        <table class="table table-hover">
            <thead>
                <th>Company Name</th>
                <th>PAN Number</th>
            </thead>

            @foreach (var company in Model.Companies)
            {
                <tr class="table-active">
                    <td>
                        @Html.HiddenFor(m => company.Id, company.Id)
                        @Html.ActionLink(@company.CompanyName
                            , "CompanyDashboard"
                            , "TaxReturn"
                            , new { companyId = company.Id }
                            , null)
                        
                    </td>
                    <td>@company.PANNumber</td>
                </tr>
            }
        </table>
    }
}


