@model LSWebApp.Models.ITReturnDocumentsModel
@{
    ViewBag.Title = "IT Return Documents";
    Layout = "~/Views/Shared/_LayoutDynemicMenu.cshtml";
}
<h2>IT Return Documents</h2>
<div>
    <table>
        <tr>
            <td>
                Select Financial Year:
            </td>
            <td>
                @Html.HiddenFor(m=>m.CompanyName, Model.CompanyName)
                @Html.HiddenFor(m => m.CompanyId, Model.CompanyId)
                @Html.HiddenFor(m => m.FinancialYear, Model.FinancialYear)
                @Html.DropDownListFor(m => m.FYAYId
                , new SelectList(Model.FYAYList, "Id", "FinancialYear", Model.FYAYId)
                , "All"
                , new { @name = "FYAYId", @id = "FYAYId", @class = "ddFYAYITRD", @style = "width:400px" })
            </td>
        </tr>
        <tr style="height:5px;"></tr>
        <tr>
            <td>
                Document Category:
            </td>
            <td>
                @Html.DropDownListFor(m => m.DocumentCategoryId
                , new SelectList(Model.DocumentCategoryList, "Id", "Description", Model.DocumentCategoryId)
                , "All"
                , new { @name = "DocumentCategoryId", @id = "DocumentCategoryId"
                , @class = "ddDocumentCategory", @style = "width:400px" })
            </td>
        </tr>
        <tr style="height:5px;"></tr>
        <tr>
            <td>
                Sub Category:
            </td>
            <td>
                @Html.DropDownListFor(m => m.SubDocumentCategoryId
                , new SelectList(Model.SubDocumentCategoryList, "Id", "Description", Model.SubDocumentCategoryId)
                , "All"
                , new
                {
                    @name = "SubDocumentCategoryId",
                    @id = "SubDocumentCategoryId",
                    @class = "ddSubDocumentCategory",
                    @style = "width:400px"
                })            
            </td>               
        </tr>            
    </table>
    <br />

    <div id="itrDocList">

    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () { 
            loadITReturnDetailDocuments();
            $(".ddFYAYITRD").change(function () {
                loadITReturnDetailDocuments();
            });
            $(".ddDocumentCategory").change(function () {
                var subDocumentCatObject = $(this).closest('table').find('.ddSubDocumentCategory');

                $.ajax({
                    url: '/getSubDocumentCategories?documentCategoryId='
                    + $(this).find("option:selected").val(),
                    error: function () {
                    },
                    dataType: 'json',
                    success: function (data) {
                        subDocumentCatObject.html('');
                        subDocumentCatObject.append('<option>All</option>');
                        $(data).each(function () {
                            var option = $('<option />');
                            option.attr('value', this.Id).html(this.Description);
                            subDocumentCatObject.append(option);
                        });
                        loadITReturnDetailDocuments();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    },
                    type: 'GET'
                });
            });
            $(".ddSubDocumentCategory").change(function () {
                loadITReturnDetailDocuments();
            });
        }); 

        function deleteITReturnDetailsDocument(itReturnDocumentId, filePath) {
            $.ajax({
                url: '/deletetITReturnDocument?Id=' + itReturnDocumentId + '&FilePath=' + filePath,
                error: function () {
                },
                dataType: 'json',
                success: function (data) {
                    window.location.reload();
                },
                type: 'POST'
            });
            return false;
        }

        function loadITReturnDetailDocuments() {
            $.ajax({
                url: '/itreturndetaildocuments?fyayId=' + $(".ddFYAYITRD").val()
                + '&itHeadId='
                + '&documentCategoryId=' + $(".ddDocumentCategory").val()
                + '&subDocumentCategoryId=' + $(".ddSubDocumentCategory").val(),
                error: function () {
                },
                dataType: 'html',
                success: function (data) {
                    $("#itrDocList").html(data);
                },
                type: 'GET'
            });
        }
    </script>
}