@model  LSWebApp.Models.MATCreditDetailsHeaderModel
@{
    ViewBag.Title = "MAT Credit Details";
    Layout = "~/Views/Shared/_LayoutDynemicMenu.cshtml";
}
<style type="text/css">
    .table-condensed {
        width: 200px;
        height: 10px;
        font-size: 10px;
    }
</style>

<h3>MAT Credit Details</h3>

<div class="container">
    <div class="bs-component">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2">Company Name</th>
                    <th>Financial Year</th>
                    <th>Assesment Year</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active">
                    <td colspan="2">
                        @Html.LabelFor(m => m.CompanyObject.CompanyName
                                , Model.CompanyObject.CompanyName)
                        @Html.HiddenFor(m => m.CompanyObject.Id
                                , Model.CompanyObject.Id)
                    </td>
                    <td>
                        <select id="FYAYId"
                                name="@Html.NameFor(m=>m.FYAYId)">
                            @foreach (var item in Model.FYAYList)
                            {
                                <option value="@item.Id.ToString()"
                                        data-year="@item.AssessmentYear">
                                    @item.FinancialYear
                                </option>
                            }
                        </select>
                    </td>
                    <td class="tdAssessmentYear"></td>
                    <td>
                        @Html.HiddenFor(m => m.ITSectionCategoryId, Model.ITSectionCategoryId)
                        <button type="button" class="btn btn-primary btn-sm btn-search"
                                id="btnsrch">
                            Search
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>

<div class="container">
    <div class="bs-component" id="sectionDiv">

    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#FYAYId").change(function () {
                loadAssessmentYear();
            });

            $("#btnsrch").click(function () {
                loadMATCreditDetailsData();
            });
            $("#FYAYId").val('@(Model.FYAYId.HasValue ? Model.FYAYId.Value.ToString() :"1")');
            loadAssessmentYear();
            loadMATCreditDetailsData();
        });

        function loadAssessmentYear() {
            $(".tdAssessmentYear").html($("#FYAYId").find(':selected').data('year'));
            $("#sectionDiv").html('');
        }

        function isANumber(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode == 45 || charCode == 46 || (charCode >= 48 && charCode <= 57))
                return true;
            return false;
        }

        function loadMATCreditDetailsData() {
            $.ajax({
                url: '/TaxReturn/MATCreditDetailsData?fyayId=' + $('#FYAYId').val()
                + '&matCreditDetailsId='
                + '&itSectionCategoryId=' + $('#ITSectionCategoryId').val(),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'GET',
                error: function (xhr, status, error) {
                    alert("inside error " + xhr.responseText);
                },
                dataType: 'html',
                success: function (data) {
                    $("#sectionDiv").html(data);
                    $(".numericOnly").keypress(function (e) {
                        return isANumber(e);
                    });
                    $(".numericOnly").change(function (e) {
                        if ($.isNumeric($(this).val())) {
                            $(this).val(parseFloat($(this).val()).toFixed(2));
                        }
                        else {
                            $(this).val("0.00");
                        }
                    });
                }
            });
        }
    </script>
}
